<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시판 페이지</title>
  </head>
  <body>
      <p>
          <div>
              자유롭게 글을 작성해주세요!
              <textarea name="text_board" cols="30" rows="10"></textarea>
          </div>
      </p>
      <div class='card' style="width: 18rem;">
        <div class='card-body'>
            <h5 class='card-title'>제목</h5>
            <h6 class='card-subtitle mb-2 text-muted'>부제목</h6>
            <p class='card-text'>내용</p>
            <a href="#" class='card-link'>link1</a>
            <a href="#" class='card-link'>link2</a>
        </div>
      </div>
  </body>
</html>
